@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

* {
    box-sizing: border-box; text-decoration: none;
}

body, html {
    background-color: #111531;
    font-family: 'Roboto', sans-serif;
    color: #a2ded0;
    margin: 2%;
}

nav {
    width: 100%;
    margin: 0;
    font-size: 1.6em;
    background-color: #05070C;
}

.logo {
    margin: 0px 400px 0px 0px;
    display: flex;
    align-content: flex-start;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    position: relative;
}

a:hover {color: purple;}

.menu-links {
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu-links li:hover {
    background-color: #1f273b;
    color: #a2ded0;
}

nav a {
    text-decoration: none;
    color: #a2ded0;
}

nav li {
    list-style: none;
    padding: 25px 25px;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    width: 100%;
    padding: 0;
    position: absolute;
    background-color: #05070C;
    border-radius: 0px 0px 4px 4px;
    font-size: 0.72em;
    text-align: center;
    left: 0px;
    top: 100%;
    border: none;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    z-index: 2;
}

.dropdown-content li {
    padding: 10px;
    border-bottom: none;
    border-radius: inherit;
    z-index: inherit;
}

.dropdown-content li:hover {
    background-color: #1f273b;   
}

.dropdown:hover .dropdown-content {
    opacity: 100;
}
article 
{
    clear: both; 
    overflow: auto; 
    width: 100%; 

}

hgroup {
    margin-top: 40px;
    clear: both; overflow: auto; width: 100%;
    position: relative; display: inline;

}


figure {
    float: left;
    width: 200px; 
    height: 200px; 
    padding: 5px; 
    margin: 20px;
}

.testimonial-card {
    background-color: #1f273b;
    border-radius: 30px;
    padding: 20px;
    width: 200px;
    margin: 10px;
    display:inline-block;
    margin-left: 200px;
    margin-bottom:100px;
}


footer {
    width: 100%;
    margin: 0;
    font-size: 1.3em;
    background-color: #05070C;
    color: #a2ded0;
}

.footer-links {
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footer-links a:hover {
    position: static;
    padding: 0px;
}

.fa {
    color: #a2ded0;
}

footer a {
    text-decoration: none;
}

footer li {
    list-style: none;
    padding: 20px 20px;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

button {
    margin: 25px;
    margin-top: 0;
}

.product_Menu {border: 2px solid black; display: inline-flex; height: 900px; width:100%; padding-top: 50px; padding: 5% 5% 5% 5%;
}
.product_Menu a {
    color: #a2ded0; 
}

.product_Menu li {
    list-style: none;
    margin: 20px;
    padding-top: 200px;
    padding-bottom: 200px;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    display: run-in;
    position:relative;
    text-decoration: none;
    
}

.dropdownP {height: 50px; width: 20%; margin: 20%; text-justify: center; font-size: 18pt; padding:20px}

.dropdown-Content {
    width: 500px;
    height:300px;
    margin:50px;
    padding: 10px;
    position: absolute;
    display: inline;
    max-width: 300px;
    background-color: #05070C;
    border-radius: 50px 50px 50px 50px;
    font-size: .78em;
    top: 65%;
    right: 0px;
    left: 0px;
    bottom:100px;
    border: none;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
    
    
}

.dropdown-Content li {
    padding:10px;
    
}

.dropdown-Content li:hover {
    background-color: #1f273b; margin: 20%; padding: 1%;
}

.dropdownP:hover .dropdown-Content {
    opacity: 100;
}

img {height: 200px; width: 200px;}

/*.nav-icon {
    margin: 1em;
    width: 40px;
  }
  
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
    background-color:  #a2ded0;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
  }

  .nav-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  
  .nav-icon:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  
  .nav-icon:hover div {
    transform: scale(0);
  }*/